<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Planner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>

    <nav class="navbar">
        <div class="nav-container">
            <a href="/" class="nav-logo">Capstone Project</a>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/settings">Settings</a></li>
            </ul>
        </div>
    </nav>

    <main>
        

        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer">
        <p>&copy; 2025 Nahrain Gorgees - 3020-001</p>
    </footer>

</body>
</html>